doctype html
html
  head
    meta( name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=0.5" )
    != css('application')
    script( type="text/javascript", src="/modernizr.custom.66516.js" )
  body
    .details
      h1.start &nbsp;
      h2.location &nbsp;
    .ground
    script( type="text/javascript", src="/socket.io/socket.io.js" )
    != js('application')
