!!! 5
html
  head
    != css('application')
    script( type="text/javascript", src="/modernizr.custom.66516.js" )
  body
    .details
      h1.start
      h2.location
    .ground
    script( type="text/javascript", src="/socket.io/socket.io.js" )
    != js('application')
